In [194]:
library(readxl)
library(dplyr)
library(tidyr)

In [195]:
df <- read_excel("Book1.xlsx")

In [196]:
head(df)

  State   Year PP   LtoP_ratio Rate  APR
1 Alabama 1978 53.4 79.1        9.40  9.78
2 Alabama 1979 60.7 77.0       10.53 10.89
3 Alabama 1980 69.7 75.7       11.94 12.36
4 Alabama 1981 59.6 82.5       13.21 13.77
5 Alabama 1982 53.0 86.2       14.21 14.64
6 Alabama 1983 61.5 81.1       11.87 12.44

In [197]:
df$Purchase_Price <- round((df$PP*1000), 0)
df$LtoP_ratio <- df$LtoP_ratio/100
head(df)

  State   Year PP   LtoP_ratio Rate  APR   Purchase_Price
1 Alabama 1978 53.4 0.791       9.40  9.78 53400
2 Alabama 1979 60.7 0.770      10.53 10.89 60700
3 Alabama 1980 69.7 0.757      11.94 12.36 69700
4 Alabama 1981 59.6 0.825      13.21 13.77 59600
5 Alabama 1982 53.0 0.862      14.21 14.64 53000
6 Alabama 1983 61.5 0.811      11.87 12.44 61500

In [198]:
df$Mtg_Amt <- round((df$Purchase_Price * df$LtoP_ratio), 0)
head(df)

  State   Year PP   LtoP_ratio Rate  APR   Purchase_Price Mtg_Amt
1 Alabama 1978 53.4 0.791       9.40  9.78 53400          42239
2 Alabama 1979 60.7 0.770      10.53 10.89 60700          46739
3 Alabama 1980 69.7 0.757      11.94 12.36 69700          52763
4 Alabama 1981 59.6 0.825      13.21 13.77 59600          49170
5 Alabama 1982 53.0 0.862      14.21 14.64 53000          45686
6 Alabama 1983 61.5 0.811      11.87 12.44 61500          49876

In [199]:
df$Down_Pmt <- round((df$Purchase_Price - df$Mtg_Amt), 0)
head(df)

  State   Year PP   LtoP_ratio Rate  APR   Purchase_Price Mtg_Amt Down_Pmt
1 Alabama 1978 53.4 0.791       9.40  9.78 53400          42239   11161
2 Alabama 1979 60.7 0.770      10.53 10.89 60700          46739   13961
3 Alabama 1980 69.7 0.757      11.94 12.36 69700          52763   16937
4 Alabama 1981 59.6 0.825      13.21 13.77 59600          49170   10430
5 Alabama 1982 53.0 0.862      14.21 14.64 53000          45686    7314
6 Alabama 1983 61.5 0.811      11.87 12.44 61500          49876   11624

In [200]:
df$DP_Percent <- round(((df$Down_Pmt / df$Purchase_Price) * 100), 0)
head(df)

  State   Year PP   LtoP_ratio Rate  APR   Purchase_Price Mtg_Amt Down_Pmt
1 Alabama 1978 53.4 0.791       9.40  9.78 53400          42239   11161
2 Alabama 1979 60.7 0.770      10.53 10.89 60700          46739   13961
3 Alabama 1980 69.7 0.757      11.94 12.36 69700          52763   16937
4 Alabama 1981 59.6 0.825      13.21 13.77 59600          49170   10430
5 Alabama 1982 53.0 0.862      14.21 14.64 53000          45686    7314
6 Alabama 1983 61.5 0.811      11.87 12.44 61500          49876   11624
  DP_Percent
1 21
2 23
3 24
4 18
5 14
6 19

In [201]:
unique(df$State)

 [1] "Alabama"              "Alaska"               "Arizona"
 [4] "Arkansas"             "California"           "Colorado"
 [7] "Connecticut"          "Delaware"             "District of Columbia"
[10] "Florida"              "Georgia"              "Hawaii"
[13] "Idaho"                "Illinois"             "Indiana"
[16] "Iowa"                 "Kansas"               "Kentucky"
[19] "Louisiana"            "Maine"                "Maryland"
[22] "Massachusetts"        "Michigan"             "Minnesota"
[25] "Mississippi"          "Missouri"             "Montana"
[28] "Nebraska"             "Nevada"               "New Hampshire"
[31] "New Jersey"           "New Mexico"           "New York"
[34] "North Carolina"       "North Dakota"         "Ohio"
[37] "Okahoma"              "Oklahoma"             "Oregon"
[40] "Pennsylvania"         "Rhode Island"         "South Carolina"
[43] "South Dakota"         "Tennessee"            "Texas"
[46] "Utah"                 "Vermont"              "Virginia"
[49] "Washington"           "West Virginia"        "Wisconsin"
[52] "Wyoming"

In [202]:
US <- df %>%
    group_by(Year) %>%
    summarize(US_Med_PP = round(median(Purchase_Price),0), US_Med_Mtg = round(median(Mtg_Amt),0), 
              US_Med_DP = round(median(Down_Pmt),0), US_Med_DP_Per = round(median(DP_Percent),0),
              US_Med_Rate = round(median(Rate),2), US_Med_APR = round(median(APR),2))

In [203]:
head(T)

  Year T_Med_PP T_Med_Mtg T_Med_DP T_Med_DP_Per T_Med_Rate T_Med_APR
1 1978 51900    38869     12927    25            9.40       9.62
2 1979 58900    42689     15700    26           10.60      10.86
3 1980 66800    48174     16678    27           12.36      12.72
4 1981 71800    51337     17745    27           14.32      14.75
5 1982 72600    52072     18652    26           14.49      15.04
6 1983 74600    55418     17904    24           12.33      12.86

In [204]:
NE <- subset(df, State=='Maine' | State=='Vermont' | State=='New Hampshire'| 
             State=='Massachusetts' | State=='Rhode Island' | State=='Conneticut' | State=='New York' | 
             State=='New Jersey' | State=='Pennsylvania')

In [205]:
unique(NE$State)
head(NE)

[1] "Maine"         "Massachusetts" "New Hampshire" "New Jersey"
[5] "New York"      "Pennsylvania"  "Rhode Island"  "Vermont"

  State Year PP   LtoP_ratio Rate  APR   Purchase_Price Mtg_Amt Down_Pmt
1 Maine 1978 44.9 0.748       9.33  9.50 44900          33585   11315
2 Maine 1979 51.2 0.746      10.81 11.02 51200          38195   13005
3 Maine 1980 51.8 0.738      12.39 12.80 51800          38228   13572
4 Maine 1981 53.1 0.728      14.80 15.25 53100          38657   14443
5 Maine 1982 64.1 0.748      15.17 15.77 64100          47947   16153
6 Maine 1983 63.9 0.732      12.17 12.74 63900          46775   17125
  DP_Percent
1 25
2 25
3 26
4 27
5 25
6 27

In [206]:
NE <- NE %>%
    group_by(Year) %>%
    summarize(NE_Med_PP = round(median(Purchase_Price),0), NE_Med_Mtg = round(median(Mtg_Amt),0), 
              NE_Med_DP = round(median(Down_Pmt),0), NE_Med_DP_Per = round(median(DP_Percent),0),
              NE_Med_Rate = round(median(Rate),2), NE_Med_APR = round(median(APR),2))

In [207]:
head(NE)

  Year NE_Med_PP NE_Med_Mtg NE_Med_DP NE_Med_DP_Per NE_Med_Rate NE_Med_APR
1 1978 51000     34911      13920     28             9.05        9.16
2 1979 55400     39646      15340     28            10.27       10.38
3 1980 59850     42320      16811     29            12.38       12.69
4 1981 59200     43483      16820     28            14.87       15.42
5 1982 68500     48940      20640     31            15.34       15.99
6 1983 70050     50821      20678     29            12.54       13.06

In [208]:

S <- subset(df, State=='Delaware' | State=='Maryland' | State=='District of Columbia'| 
            State=='West Virginia' | State=='Virginia' | State=='Kentucky' | State=='North Carolina' | 
            State=='Tennessee' | State=='Arkansas' | State=='Oklahoma' | State=='South Carolina' | 
            State=='Georgia' | State=='Alabama' | State=='Mississippi' | State=='Louisiana' | State=='Texas' | 
            State=='Florida')

In [209]:
S <- S %>%
    group_by(Year) %>%
    summarize(S_Med_PP = round(median(Purchase_Price),0), S_Med_Mtg = round(median(Mtg_Amt),0), 
              S_Med_DP = round(median(Down_Pmt),0), S_Med_DP_Per = round(median(DP_Percent),0),
              S_Med_Rate = round(median(Rate),2), S_Med_APR = round(median(APR),2))

In [210]:
head(S)

  Year S_Med_PP S_Med_Mtg S_Med_DP S_Med_DP_Per S_Med_Rate S_Med_APR
1 1978 50800    37998     11352    23            9.40       9.66
2 1979 55800    42689     14000    24           10.54      10.84
3 1980 66800    49352     16937    26           12.34      12.72
4 1981 67600    51241     17660    26           14.34      14.88
5 1982 69300    52945     17030    24           14.49      15.29
6 1983 74600    56696     17346    22           12.48      12.95

In [211]:
MW <- subset(df, State=='Ohio' | State=='Indiana' | State=='Illinois'| 
             State=='Missouri' | State=='Kansas' | State=='Iowa' | State=='Nebraska' | 
             State=='Michigan' | State=='Wisconsin' | State=='Minnesota' | State=='South Dakota' | State=='North Dakota')

In [212]:
MW <- MW %>%
    group_by(Year) %>%
    summarize(MW_Med_PP = round(median(Purchase_Price),0), MW_Med_Mtg = round(median(Mtg_Amt),0), 
              MW_Med_DP = round(median(Down_Pmt),0), MW_Med_DP_Per = round(median(DP_Percent),0),
              MW_Med_Rate = round(median(Rate),2), MW_Med_APR = round(median(APR),2))

In [213]:
head(MW)

  Year MW_Med_PP MW_Med_Mtg MW_Med_DP MW_Med_DP_Per MW_Med_Rate MW_Med_APR
1 1978 50500     37000      13404     26             9.38        9.56
2 1979 55550     41060      16184     28            10.55       10.74
3 1980 57100     42354      15321     28            12.44       12.83
4 1981 62900     46466      17593     28            13.97       14.46
5 1982 62750     46718      17252     28            14.24       14.60
6 1983 68100     49644      16371     24            12.21       12.67

In [214]:
W <- subset(df, State=='Montana' | State=='Wyoming' | State=='Colorado'| 
             State=='New Mexico' | State=='Idaho' | State=='Utah' | State=='Arizona' | 
             State=='Washington' | State=='Oregon' | State=='Nevada' | State=='California' | State=='Alaska' | 
             State=='Hawaii')

In [215]:
W <- W %>%
    group_by(Year) %>%
    summarize(W_Med_PP = round(median(Purchase_Price),0), W_Med_Mtg = round(median(Mtg_Amt),0), 
              W_Med_DP = round(median(Down_Pmt),0), W_Med_DP_Per = round(median(DP_Percent),0),
              W_Med_Rate = round(median(Rate),2), W_Med_APR = round(median(APR),2))

In [216]:
head(W)

  Year W_Med_PP W_Med_Mtg W_Med_DP W_Med_DP_Per W_Med_Rate W_Med_APR
1 1978 57500    44579     13858    23            9.65       9.90
2 1979 69000    51457     16393    24           10.75      11.09
3 1980 78100    60137     19447    24           12.26      12.65
4 1981 82100    63359     18726    24           13.97      14.37
5 1982 88700    66882     21190    24           14.55      15.04
6 1983 86400    66960     19564    22           12.33      12.83

In [217]:
cost_df <- merge(US, NE, by='Year')
head(cost_df)

  Year US_Med_PP US_Med_Mtg US_Med_DP US_Med_DP_Per US_Med_Rate US_Med_APR
1 1978 51900     38869      12927     25             9.40        9.62
2 1979 58900     42689      15700     26            10.60       10.86
3 1980 66800     48174      16678     27            12.36       12.72
4 1981 71800     51337      17745     27            14.32       14.75
5 1982 72600     52072      18652     26            14.49       15.04
6 1983 74600     55418      17904     24            12.33       12.86
  NE_Med_PP NE_Med_Mtg NE_Med_DP NE_Med_DP_Per NE_Med_Rate NE_Med_APR
1 51000     34911      13920     28             9.05        9.16
2 55400     39646      15340     28            10.27       10.38
3 59850     42320      16811     29            12.38       12.69
4 59200     43483      16820     28            14.87       15.42
5 68500     48940      20640     31            15.34       15.99
6 70050     50821      20678     29            12.54       13.06

In [218]:
cost_df <- merge(cost_df, S, by='Year')
cost_df <- merge(cost_df, MW, by='Year')
cost_df <- merge(cost_df, W, by='Year')
head(cost_df)

  Year US_Med_PP US_Med_Mtg US_Med_DP US_Med_DP_Per US_Med_Rate US_Med_APR
1 1978 51900     38869      12927     25             9.40        9.62
2 1979 58900     42689      15700     26            10.60       10.86
3 1980 66800     48174      16678     27            12.36       12.72
4 1981 71800     51337      17745     27            14.32       14.75
5 1982 72600     52072      18652     26            14.49       15.04
6 1983 74600     55418      17904     24            12.33       12.86
  NE_Med_PP NE_Med_Mtg NE_Med_DP <U+22EF>   MW_Med_DP MW_Med_DP_Per MW_Med_Rate
1 51000     34911      13920     <U+22EF> 13404     26             9.38
2 55400     39646      15340     <U+22EF> 16184     28            10.55
3 59850     42320      16811     <U+22EF> 15321     28            12.44
4 59200     43483      16820     <U+22EF> 17593     28            13.97
5 68500     48940      20640     <U+22EF> 17252     28            14.24
6 70050     50821      20678     <U+22EF> 16371     24            12.21
  MW_Med_APR W_Med_PP W_Med_Mtg W_Med_DP W_Med_DP_Per W_Med_Rate W_Med_APR
1  9.56      57500    44579     13858    23            9.65       9.90
2 10.74      69000    51457     16393    24           10.75      11.09
3 12.83      78100    60137     19447    24           12.26      12.65
4 14.46      82100    63359     18726    24           13.97      14.37
5 14.60      88700    66882     21190    24           14.55      15.04
6 12.67      86400    66960     19564    22           12.33      12.83

In [219]:
cost_df <- arrange(cost_df, desc(Year))
head(cost_df)

  Year US_Med_PP US_Med_Mtg US_Med_DP US_Med_DP_Per US_Med_Rate US_Med_APR
1 2017 321552    253974     62241     20            4.04        4.14
2 2016 329683    265476     64634     19            3.72        3.85
3 2015 328297    257254     68170     21            3.88        4.05
4 2014 301842    242818     63736     21            4.15        4.30
5 2013 290968    229912     60912     21            3.84        3.98
6 2012 291704    225034     66670     23            3.65        3.76
  NE_Med_PP NE_Med_Mtg NE_Med_DP <U+22EF>   MW_Med_DP MW_Med_DP_Per MW_Med_Rate
1 408584    318827     89758     <U+22EF> 48968     18            4.05
2 424666    333744     98356     <U+22EF> 47710     17            3.72
3 397996    306852     92956     <U+22EF> 48892     18            3.90
4 375164    289665     85500     <U+22EF> 46646     18            4.18
5 313370    246542     67912     <U+22EF> 43102     19            3.84
6 361594    263406     98187     <U+22EF> 47768     21            3.64
  MW_Med_APR W_Med_PP W_Med_Mtg W_Med_DP W_Med_DP_Per W_Med_Rate W_Med_APR
1 4.18       358043   295339    70732    21           4.03       4.18
2 3.88       351122   298311    76885    22           3.72       3.88
3 4.07       372760   306386    77786    23           3.89       4.06
4 4.35       355860   284605    77171    23           4.16       4.32
5 4.01       345270   263096    74460    22           3.85       4.01
6 3.77       327960   243147    75295    25           3.67       3.81

In [220]:
write.csv(cost_df, file = "Cost.csv")